h1
{font-family: 'Ubuntu', sans-serif;
font-size:38px;

}
    
p{ font-family: 'Ubuntu', sans-serif;
             font-size: 20px;
             
}
h2{font-family: 'Ubuntu', sans-serif;
    font-size:28px;

}
.font-color{ color:dodgerblue;

}
.first {display:flex;
         padding-left: 3% ;
         

}
.intro-part{ padding-left: 2%;
             padding-top: 2%;
            
}
.intro-part img{ height: 72%;
                 width: 72%;
                 padding-left: 15%;             

}
.font-style{ text-decoration: none;
            font-family: 'Ubuntu', sans-serif;
            height: 4%;
            width: 35%;
            text-align:left;
              color:white;
              background: linear-gradient(to right, dodgerblue, blue);
              font-size: large;
             padding: 20px 40px;
             margin-top: 10%;
             margin-left: 2%;
             display:flex;
             border-radius:40px;
             font-weight: 300;

}
.image-part img{ height: 72%;
    width: 72%;
    padding-left: 15%;

}
.second-part{ background-image: url(images/shapes/Frame\ 57.jpg);
             
              
              

}
.second{display: flex;
    padding-left: 5% ;
    padding-right: 5%;
    

}
#header{ padding-left: 20%;
         padding-top: 20%;

}
#paragraph{padding-left:20%;

}
.contact{ text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    height: 4%;
    width: 15%;
     color:white;
      background: linear-gradient(to right, dodgerblue, blue);
      font-size: large;
     padding: 20px 40px;
     margin-top: 10%;
     margin-left: 19%;
             display:flex;
             border-radius:40px;
             font-weight: 300;
}
.third-part{ text-align:center;
    margin-top: 8%;
    padding-left: 30%;
    padding-right: 25%;

}
.delivery{ color:red;

}
.final-stage{
            margin-bottom: 5%;
            background-image:url(images/shapes/istockphoto-1226436845-170667a.jpg);
            
}
.full-box{ display: flex;
           margin-left: 1%;
           margin-right: 1%;

}
.Beef-Latoos{
    border-style:none 5px black;
    margin-left: 5%;
    margin-top: 2%;
    text-align:left;
    height: 400px;
    width: 300px;
    border-radius: 30px;
    padding: 20px 20px 20px;

  
  background-color: white;
  box-shadow: 0 0 1px 0 gray;

}
.Beef-Latoos img{ height: 170px;
    width: 300px;
    

}
.corn-nachos{ width:20%;
    border-style:none 10px black;
    margin-left: 5%;
    margin-top: 2%;
    text-align:left;
    height: 400px;
    width: 300px;
    border-radius: 30px;
    padding: 20px 20px 20px;
    background-color: white;
    box-shadow: 0 0 1px 0 gray;

}
.corn-nachos img{ height: 170px;
    width: 300px;
    border-radius: 12px;

}
.shrimp-tacos{ width:20%;
    border-style:none 10px black;
    margin-left: 5%;
    margin-top: 2%;
    text-align:left;
    height: 400px;
    width: 300px;
    border-radius: 30px;
    padding: 20px 20px 20px;
    background-color: white;
    box-shadow: 0 0 1px 0 gray;

}
.shrimp-tacos img{ height: 170px;
    width: 300px;
    border-radius: 12px;

}
.channel-likes{ display:flex;
                width:20%;
                border-style:none 10px black;
                margin-left: 6%;
                margin-top: 10%;
                margin-right: 7%;
                text-align:center;
                height: 30%;
                width: 84%;
                border-radius: 30px;
                padding: 20px 20px 20px;
                background-color: white;
                
                box-shadow: 0 1px 0 0 gray;

}
.youtube{ margin-left: 15%;
         

}
.instagram{ margin-left: 10%;

}
.dribble{ margin-left: 10%;

}
.bottom-part{ background-color:dimgray;
              text-align: center;
              padding-top: 3%;
              padding-bottom: 10%;
              

}
#bottom-header{ color:floralwhite;
                

}